/* 
Picture	
*/
/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 10%;
  top: 7%;
  left: 10;
  right: 10%;
  background-color: #ebe4d1;
  color: black;
  height: 80%;
  width: 80%;
  text-align: center;
}

.body {
  background-color:burlywood;
}

p, li {
  font-family: 'Times New Roman', serif;
  font-size: 22px;
  color: black;
  margin: 10 40px;
  text-align: center;
}

h1 {
  font-family:'Brush Script MT', cursive;
  font-size: 64px;
  color: #f3ffe8;
  margin-bottom: 30px;
}
 
h2 {
  color: #ebe4d1;
}
 

h3{
  font-family: 'Times New Roman', serif;
  font-size: 50px;
  color: #082233;
}


/* unvisited link */
a:link {
  color:lightskyblue;
}

/* visited link */
a:visited {
  color: #91bda6;
}

/* mouse over link */
a:hover {
  color: #b9ebd1;
}

/* selected link */
a:active {
  color: #91bda6;
}
